In [1]:
from dotenv import load_dotenv
import json
import os
import requests
import pandas as pd

load_dotenv()

api_key = os.environ.get("ALPHAVANTAGE_API_KEY")

while True:
	symbol=input('Enter name of stock you want: ')
	if not symbol.isalpha():
		print('please make sure to enter name of stock price')
	else:
		data=requests.get('https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol='+symbol+'&apikey='+api_key)

		if 'Error' in data.text:
			print('The stock you are looking for is not here')
		else:
			break

Enter name of stock you want: MSFT

In [3]:
j=data.json()

In [4]:
j['Time Series (Daily)']

{'2018-09-25': {'1. open': '114.8000',
  '2. high': '115.1000',
  '3. low': '113.7500',
  '4. close': '114.4500',
  '5. volume': '22668014'},
 '2018-09-26': {'1. open': '114.4700',
  '2. high': '115.0550',
  '3. low': '113.7400',
  '4. close': '113.9800',
  '5. volume': '19352025'},
 '2018-09-27': {'1. open': '114.7800',
  '2. high': '114.9100',
  '3. low': '114.2000',
  '4. close': '114.4100',
  '5. volume': '19091299'},
 '2018-09-28': {'1. open': '114.1900',
  '2. high': '114.5700',
  '3. low': '113.6800',
  '4. close': '114.3700',
  '5. volume': '21647811'},
 '2018-10-01': {'1. open': '114.7500',
  '2. high': '115.6800',
  '3. low': '114.7300',
  '4. close': '115.6100',
  '5. volume': '18883079'},
 '2018-10-02': {'1. open': '115.3000',
  '2. high': '115.8400',
  '3. low': '114.4400',
  '4. close': '115.1500',
  '5. volume': '20787239'},
 '2018-10-03': {'1. open': '115.4200',
  '2. high': '116.1800',
  '3. low': '114.9300',
  '4. close': '115.1700',
  '5. volume': '16648018'},
 '2018-10-04': {'1. open': '114.6100',
  '2. high': '114.7588',
  '3. low': '111.6300',
  '4. close': '112.7900',
  '5. volume': '34821717'},
 '2018-10-05': {'1. open': '112.6300',
  '2. high': '113.1700',
  '3. low': '110.6400',
  '4. close': '112.1300',
  '5. volume': '29068859'},
 '2018-10-08': {'1. open': '111.6600',
  '2. high': '112.0300',
  '3. low': '109.3400',
  '4. close': '110.8500',
  '5. volume': '29640588'},
 '2018-10-09': {'1. open': '111.1400',
  '2. high': '113.0800',
  '3. low': '110.8000',
  '4. close': '112.2600',
  '5. volume': '26198594'},
 '2018-10-10': {'1. open': '111.2400',
  '2. high': '111.5000',
  '3. low': '105.7900',
  '4. close': '106.1600',
  '5. volume': '61376300'},
 '2018-10-11': {'1. open': '105.3500',
  '2. high': '108.9300',
  '3. low': '104.2000',
  '4. close': '105.9100',
  '5. volume': '63904282'},
 '2018-10-12': {'1. open': '109.0100',
  '2. high': '111.2400',
  '3. low': '107.1200',
  '4. close': '109.5700',
  '5. volume': '47742109'},
 '2018-10-15': {'1. open': '108.9100',
  '2. high': '109.4800',
  '3. low': '106.9468',
  '4. close': '107.6000',
  '5. volume': '32068103'},
 '2018-10-16': {'1. open': '109.5400',
  '2. high': '111.4100',
  '3. low': '108.9500',
  '4. close': '111.0000',
  '5. volume': '31610164'},
 '2018-10-17': {'1. open': '111.6800',
  '2. high': '111.8100',
  '3. low': '109.5482',
  '4. close': '110.7100',
  '5. volume': '26548243'},
 '2018-10-18': {'1. open': '110.1000',
  '2. high': '110.5300',
  '3. low': '107.8300',
  '4. close': '108.5000',
  '5. volume': '32506192'},
 '2018-10-19': {'1. open': '108.9300',
  '2. high': '110.8600',
  '3. low': '108.2100',
  '4. close': '108.6600',
  '5. volume': '32785475'},
 '2018-10-22': {'1. open': '109.3200',
  '2. high': '110.5400',
  '3. low': '108.2400',
  '4. close': '109.6300',
  '5. volume': '26545607'},
 '2018-10-23': {'1. open': '107.7700',
  '2. high': '108.9700',
  '3. low': '105.1100',
  '4. close': '108.1000',
  '5. volume': '43770429'},
 '2018-10-24': {'1. open': '108.4100',
  '2. high': '108.4900',
  '3. low': '101.5901',
  '4. close': '102.3200',
  '5. volume': '63897759'},
 '2018-10-25': {'1. open': '106.5500',
  '2. high': '109.2700',
  '3. low': '106.1500',
  '4. close': '108.3000',
  '5. volume': '61646819'},
 '2018-10-26': {'1. open': '105.6900',
  '2. high': '108.7500',
  '3. low': '104.7600',
  '4. close': '106.9600',
  '5. volume': '55523104'},
 '2018-10-29': {'1. open': '108.1050',
  '2. high': '108.7000',
  '3. low': '101.6300',
  '4. close': '103.8500',
  '5. volume': '55162001'},
 '2018-10-30': {'1. open': '103.6600',
  '2. high': '104.3800',
  '3. low': '100.1100',
  '4. close': '103.7300',
  '5. volume': '65350878'},
 '2018-10-31': {'1. open': '105.4350',
  '2. high': '108.1400',
  '3. low': '105.3900',
  '4. close': '106.8100',
  '5. volume': '51062383'},
 '2018-11-01': {'1. open': '107.0500',
  '2. high': '107.3200',
  '3. low': '105.5300',
  '4. close': '105.9200',
  '5. volume': '33384201'},
 '2018-11-02': {'1. open': '106.4800',
  '2. high': '107.3200',
  '3. low': '104.9750',
  '4. close': '106.1600',
  '5. volume': '37680194'},
 '2018-11-05': {'1. open': '106.3700',
  '2. high': '107.7400',
  '3. low': '105.9000',
  '4. close': '107.5100',
  '5. volume': '27922144'},
 '2018-11-06': {'1. open': '107.3800',
  '2. high': '108.8400',
  '3. low': '106.2800',
  '4. close': '107.7200',
  '5. volume': '24340248'},
 '2018-11-07': {'1. open': '109.4400',
  '2. high': '112.2400',
  '3. low': '109.4000',
  '4. close': '111.9600',
  '5. volume': '37901704'},
 '2018-11-08': {'1. open': '111.8000',
  '2. high': '112.2100',
  '3. low': '110.9100',
  '4. close': '111.7500',
  '5. volume': '25644105'},
 '2018-11-09': {'1. open': '110.8500',
  '2. high': '111.4500',
  '3. low': '108.7600',
  '4. close': '109.5700',
  '5. volume': '32039223'},
 '2018-11-12': {'1. open': '109.4200',
  '2. high': '109.9600',
  '3. low': '106.1000',
  '4. close': '106.8700',
  '5. volume': '33621807'},
 '2018-11-13': {'1. open': '107.5500',
  '2. high': '108.7400',
  '3. low': '106.6400',
  '4. close': '106.9400',
  '5. volume': '35374583'},
 '2018-11-14': {'1. open': '108.1000',
  '2. high': '108.2600',
  '3. low': '104.4700',
  '4. close': '104.9700',
  '5. volume': '39495141'},
 '2018-11-15': {'1. open': '104.9900',
  '2. high': '107.8000',
  '3. low': '103.9100',
  '4. close': '107.2800',
  '5. volume': '38505165'},
 '2018-11-16': {'1. open': '107.0800',
  '2. high': '108.8800',
  '3. low': '106.8000',
  '4. close': '108.2900',
  '5. volume': '33502121'},
 '2018-11-19': {'1. open': '108.2700',
  '2. high': '108.5600',
  '3. low': '103.5500',
  '4. close': '104.6200',
  '5. volume': '44773899'},
 '2018-11-20': {'1. open': '101.8000',
  '2. high': '102.9700',
  '3. low': '99.3528',
  '4. close': '101.7100',
  '5. volume': '64052457'},
 '2018-11-21': {'1. open': '103.6000',
  '2. high': '104.4300',
  '3. low': '102.2400',
  '4. close': '103.1100',
  '5. volume': '28130621'},
 '2018-11-23': {'1. open': '102.1700',
  '2. high': '103.8099',
  '3. low': '102.0000',
  '4. close': '103.0700',
  '5. volume': '13823099'},
 '2018-11-26': {'1. open': '104.7900',
  '2. high': '106.6300',
  '3. low': '104.5800',
  '4. close': '106.4700',
  '5. volume': '32336165'},
 '2018-11-27': {'1. open': '106.2700',
  '2. high': '107.3300',
  '3. low': '105.3600',
  '4. close': '107.1400',
  '5. volume': '29124486'},
 '2018-11-28': {'1. open': '107.8900',
  '2. high': '111.3300',
  '3. low': '107.8600',
  '4. close': '111.1200',
  '5. volume': '46788461'},
 '2018-11-29': {'1. open': '110.3300',
  '2. high': '111.1150',
  '3. low': '109.0300',
  '4. close': '110.1900',
  '5. volume': '28123195'},
 '2018-11-30': {'1. open': '110.7000',
  '2. high': '110.9700',
  '3. low': '109.3600',
  '4. close': '110.8900',
  '5. volume': '33665624'},
 '2018-12-03': {'1. open': '113.0000',
  '2. high': '113.4200',
  '3. low': '110.7300',
  '4. close': '112.0900',
  '5. volume': '34732772'},
 '2018-12-04': {'1. open': '111.9400',
  '2. high': '112.6373',
  '3. low': '108.2115',
  '4. close': '108.5200',
  '5. volume': '45196984'},
 '2018-12-06': {'1. open': '105.8200',
  '2. high': '109.2400',
  '3. low': '105.0000',
  '4. close': '109.1900',
  '5. volume': '49107431'},
 '2018-12-07': {'1. open': '108.3800',
  '2. high': '109.4500',
  '3. low': '104.3000',
  '4. close': '104.8200',
  '5. volume': '45044937'},
 '2018-12-10': {'1. open': '104.8000',
  '2. high': '107.9800',
  '3. low': '103.8900',
  '4. close': '107.5900',
  '5. volume': '40801525'},
 '2018-12-11': {'1. open': '109.8000',
  '2. high': '110.9500',
  '3. low': '107.4400',
  '4. close': '108.5900',
  '5. volume': '42381947'},
 '2018-12-12': {'1. open': '110.8900',
  '2. high': '111.2700',
  '3. low': '109.0400',
  '4. close': '109.0800',
  '5. volume': '36183020'},
 '2018-12-13': {'1. open': '109.5800',
  '2. high': '110.8700',
  '3. low': '108.6300',
  '4. close': '109.4500',
  '5. volume': '31333362'},
 '2018-12-14': {'1. open': '108.2500',
  '2. high': '109.2600',
  '3. low': '105.5000',
  '4. close': '106.0300',
  '5. volume': '47043136'},
 '2018-12-17': {'1. open': '105.4100',
  '2. high': '105.8000',
  '3. low': '101.7100',
  '4. close': '102.8900',
  '5. volume': '56957314'},
 '2018-12-18': {'1. open': '103.7500',
  '2. high': '104.5100',
  '3. low': '102.5200',
  '4. close': '103.9700',
  '5. volume': '49319196'},
 '2018-12-19': {'1. open': '103.6500',
  '2. high': '106.8800',
  '3. low': '101.3500',
  '4. close': '103.6900',
  '5. volume': '68198186'},
 '2018-12-20': {'1. open': '103.0500',
  '2. high': '104.3100',
  '3. low': '98.7800',
  '4. close': '101.5100',
  '5. volume': '70334184'},
 '2018-12-21': {'1. open': '101.6300',
  '2. high': '103.0000',
  '3. low': '97.4600',
  '4. close': '98.2300',
  '5. volume': '111242070'},
 '2018-12-24': {'1. open': '97.6800',
  '2. high': '97.9700',
  '3. low': '93.9800',
  '4. close': '94.1300',
  '5. volume': '43935192'},
 '2018-12-26': {'1. open': '95.1400',
  '2. high': '100.6900',
  '3. low': '93.9600',
  '4. close': '100.5600',
  '5. volume': '51634793'},
 '2018-12-27': {'1. open': '99.3000',
  '2. high': '101.1900',
  '3. low': '96.4000',
  '4. close': '101.1800',
  '5. volume': '49498509'},
 '2018-12-28': {'1. open': '102.0900',
  '2. high': '102.4100',
  '3. low': '99.5200',
  '4. close': '100.3900',
  '5. volume': '38169312'},
 '2018-12-31': {'1. open': '101.2900',
  '2. high': '102.4000',
  '3. low': '100.4400',
  '4. close': '101.5700',
  '5. volume': '33173765'},
 '2019-01-02': {'1. open': '99.5500',
  '2. high': '101.7500',
  '3. low': '98.9400',
  '4. close': '101.1200',
  '5. volume': '35329345'},
 '2019-01-03': {'1. open': '100.1000',
  '2. high': '100.1850',
  '3. low': '97.2000',
  '4. close': '97.4000',
  '5. volume': '42578410'},
 '2019-01-04': {'1. open': '99.7200',
  '2. high': '102.5100',
  '3. low': '98.9300',
  '4. close': '101.9300',
  '5. volume': '44060620'},
 '2019-01-07': {'1. open': '101.6400',
  '2. high': '103.2681',
  '3. low': '100.9800',
  '4. close': '102.0600',
  '5. volume': '35656136'},
 '2019-01-08': {'1. open': '103.0400',
  '2. high': '103.9700',
  '3. low': '101.7134',
  '4. close': '102.8000',
  '5. volume': '31514415'},
 '2019-01-09': {'1. open': '103.8600',
  '2. high': '104.8800',
  '3. low': '103.2445',
  '4. close': '104.2700',
  '5. volume': '32280840'},
 '2019-01-10': {'1. open': '103.2200',
  '2. high': '103.7500',
  '3. low': '102.3800',
  '4. close': '103.6000',
  '5. volume': '30067556'},
 '2019-01-11': {'1. open': '103.1900',
  '2. high': '103.4400',
  '3. low': '101.6400',
  '4. close': '102.8000',
  '5. volume': '28314202'},
 '2019-01-14': {'1. open': '101.9000',
  '2. high': '102.8716',
  '3. low': '101.2600',
  '4. close': '102.0500',
  '5. volume': '28437079'},
 '2019-01-15': {'1. open': '102.5100',
  '2. high': '105.0500',
  '3. low': '101.8800',
  '4. close': '105.0100',
  '5. volume': '31587616'},
 '2019-01-16': {'1. open': '105.2600',
  '2. high': '106.2550',
  '3. low': '104.9600',
  '4. close': '105.3800',
  '5. volume': '29853865'},
 '2019-01-17': {'1. open': '105.0000',
  '2. high': '106.6250',
  '3. low': '104.7600',
  '4. close': '106.1200',
  '5. volume': '28393015'},
 '2019-01-18': {'1. open': '107.4600',
  '2. high': '107.9000',
  '3. low': '105.9100',
  '4. close': '107.7100',
  '5. volume': '37427587'},
 '2019-01-22': {'1. open': '106.7500',
  '2. high': '107.1000',
  '3. low': '104.8600',
  '4. close': '105.6800',
  '5. volume': '32371253'},
 '2019-01-23': {'1. open': '106.1200',
  '2. high': '107.0400',
  '3. low': '105.3400',
  '4. close': '106.7100',
  '5. volume': '25874294'},
 '2019-01-24': {'1. open': '106.8600',
  '2. high': '107.0000',
  '3. low': '105.3400',
  '4. close': '106.2000',
  '5. volume': '23164838'},
 '2019-01-25': {'1. open': '107.2400',
  '2. high': '107.8800',
  '3. low': '106.5900',
  '4. close': '107.1700',
  '5. volume': '31218193'},
 '2019-01-28': {'1. open': '106.2600',
  '2. high': '106.4800',
  '3. low': '104.6600',
  '4. close': '105.0800',
  '5. volume': '29476719'},
 '2019-01-29': {'1. open': '104.8800',
  '2. high': '104.9700',
  '3. low': '102.1700',
  '4. close': '102.9400',
  '5. volume': '31490547'},
 '2019-01-30': {'1. open': '104.6200',
  '2. high': '106.3800',
  '3. low': '104.3300',
  '4. close': '106.3800',
  '5. volume': '49471866'},
 '2019-01-31': {'1. open': '103.8000',
  '2. high': '105.2200',
  '3. low': '103.1800',
  '4. close': '104.4300',
  '5. volume': '55636391'},
 '2019-02-01': {'1. open': '103.7750',
  '2. high': '104.0999',
  '3. low': '102.3500',
  '4. close': '102.7800',
  '5. volume': '35535690'},
 '2019-02-04': {'1. open': '102.8700',
  '2. high': '105.8000',
  '3. low': '102.7700',
  '4. close': '105.7400',
  '5. volume': '31315282'},
 '2019-02-05': {'1. open': '106.0600',
  '2. high': '107.2700',
  '3. low': '105.9600',
  '4. close': '107.2200',
  '5. volume': '27325365'},
 '2019-02-06': {'1. open': '107.0000',
  '2. high': '107.0000',
  '3. low': '105.5300',
  '4. close': '106.0300',
  '5. volume': '20609759'},
 '2019-02-07': {'1. open': '105.1850',
  '2. high': '105.5900',
  '3. low': '104.2900',
  '4. close': '105.2700',
  '5. volume': '29760697'},
 '2019-02-08': {'1. open': '104.3900',
  '2. high': '105.7800',
  '3. low': '104.2603',
  '4. close': '105.6700',
  '5. volume': '21461093'},
 '2019-02-11': {'1. open': '106.2000',
  '2. high': '106.5800',
  '3. low': '104.9650',
  '4. close': '105.2500',
  '5. volume': '18914123'},
 '2019-02-12': {'1. open': '106.1400',
  '2. high': '107.1400',
  '3. low': '105.4800',
  '4. close': '106.8900',
  '5. volume': '25056595'},
 '2019-02-13': {'1. open': '107.5000',
  '2. high': '107.7800',
  '3. low': '106.7100',
  '4. close': '106.8100',
  '5. volume': '18394869'},
 '2019-02-14': {'1. open': '106.3100',
  '2. high': '107.2900',
  '3. low': '105.6600',
  '4. close': '106.9000',
  '5. volume': '21784703'},
 '2019-02-15': {'1. open': '107.9100',
  '2. high': '108.3000',
  '3. low': '107.3624',
  '4. close': '108.2200',
  '5. volume': '26606886'},
 '2019-02-19': {'1. open': '107.7900',
  '2. high': '108.6100',
  '3. low': '107.7800',
  '4. close': '108.5800',
  '5. volume': '7028876'}}

In [5]:
time,opening,high,low,close,volume=[],[],[],[],[],[]
for key, value in j['Time Series (Daily)'].items():
    time.append(key)
    opening.append(value['1. open'])
    high.append(value['2. high'])
    low.append(value['3. low'])
    close.append(value['4. close'])
    volume.append(value['5. volume'])

In [6]:
result = pd.DataFrame(
{'time':time,
'open':opening,
'high': high,
 'low': low,
 'close': close,
 'volume': volume})

In [8]:
result.head()

      close      high       low      open        time    volume
0  108.5800  108.6100  107.7800  107.7900  2019-02-19   7028876
1  108.2200  108.3000  107.3624  107.9100  2019-02-15  26606886
2  106.9000  107.2900  105.6600  106.3100  2019-02-14  21784703
3  106.8100  107.7800  106.7100  107.5000  2019-02-13  18394869
4  106.8900  107.1400  105.4800  106.1400  2019-02-12  25056595

In [11]:
result.iloc[0]['close']

'108.5800'

In [15]:
min(result['high'])

'100.1850'

In [19]:
result['high'].max()

'97.9700'

In [27]:
max(result['high'].astype(float))

116.18

In [28]:
min(result['high'].astype(float))

97.97